@use "./measures" as *;

$primaryColor: #6e51ff;
$primaryColorLight: #eae6ff;
$secondaryColor: #ff8900;
$secondaryColorLight: #ffdfba;
$backgroundColor: linear-gradient(3deg, #eeeeee, #ffffff);
$shadow: -1px 2px 2px rgba(80, 80, 80, 0.3);

@mixin gradient-text($color1: $primaryColor,
  $color2: $primaryColorLight,
  $lightAngle: 2deg) {
  // width: max-content;
  background-image: linear-gradient($lightAngle, $color1, $color2);
  background-clip: text;
  color: transparent;
  margin-bottom: $base;
  filter: drop-shadow(-1px 1px 1px rgba(80, 80, 80, 0.5));
}