@use "./colors" as *;

$primaryFontSize: 22px;
$primaryFontWeight: 700;
$secondaryFontSize: 16px;
$secondaryFontWeight: 500;
$tertiaryFontSize: 14px;
$fontColor: #505050;
$pLineHeight: 20px;

@mixin primary-font($size: $primaryFontSize, $weight: $primaryFontWeight) {
  font-size: $size;
  font-weight: $weight;
  color: $fontColor;
  text-shadow: $shadow;
}

@mixin secondary-font($size: $secondaryFontSize,
  $weight: $secondaryFontWeight) {
  font-size: $size;
  font-weight: $weight;
  color: $fontColor;
  text-shadow: $shadow;
}

@mixin tertiary-font($size: $tertiaryFontSize, $weight: $secondaryFontWeight) {
  font-size: $size;
  font-weight: $weight;
  color: $fontColor;
}