@use "@/styles" as *;

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-image: linear-gradient(5deg, #ebebeb, #ffffff);
}

body {
  color: $fontColor;
  background-color: $backgroundColor;
  font-size: $secondaryFontSize;
}
li {
  list-style-type: none;
}
header {
  h1 {
    @include gradient-text();
  }
  ul {
    margin: $baseM 0;
    li {
      margin: $baseS 0;
    }
  }

  button {
    @include primary-button();
  }
}
button {
  all: unset;
  min-width: max-content;
  &:hover {
    cursor: pointer;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
