@use "./index.scss" as *; // .main {
// }
.header {
  display: flex;
  justify-content: center;
  margin: $baseXL 0;
  .title {
    // width: max-content;
    // margin: $baseL;
    .underText {
      margin-top: $base;
      display: flex;
      width: max-content;
      p {
        margin-right: 6px;
        @include tertiary-font;
        span {
          font-weight: 700;
        }
      }
    }
  }
  picture {
    img {
      height: 344px;
      margin-top: -47px;
      margin-right: -40px;
      filter: drop-shadow(-1px 1px 1px rgba(80, 80, 80, 0.5));
    }
  }
}
.main {
  .courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 999px;
    padding: 48px 0;
    // gap: $baseL;
    & > div {
      max-width: 260px;
      margin: $baseL;
      h2 {
        margin: $baseS;
      }
      p {
        margin: $baseS;
        line-height: $pLineHeight;
      }
    }
  }
  .teacher {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 24px;
    .video {
      h2 {
        margin-bottom: $base;
        text-align: center;
      }
      margin: $baseXL;
      width: max-content;
      iframe {
        width: 300px;
        border-radius: $base;
        border: 1px solid black;
      }
    }
    .introduction {
      max-width: 300px;
      p {
        line-height: $pLineHeight;
      }
    }
  }
  .price {
    margin: $baseXL;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $baseL 0;
    gap: 12px;
    & > div:first-of-type {
      display: flex;
      justify-content: center;
      gap: 6px;
      margin-bottom: $base;
      p {
        min-width: max-content;
      }
    }
    h2 {
      @include gradient-text($lightAngle: 1deg);
      margin-bottom: 0;
    }
    a {
      @include primary-button($lightAngle: 1deg);
      box-shadow: 0px 1px 1px rgba(80, 80, 80, 0.4);
      margin-left: -1px;
    }
  }
}

/* Mobile */
@media (max-width: 599px) {
  .header {
    .title {
      margin: $baseL;
    }
    picture {
      display: none;
    }
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
