@use "./index.scss" as *; // .main {

// }
.header {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  margin: $baseXXL auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 830px;
  // margin: auto;
  // background-color: red;

  h1 {
    width: max-content;
    font-size: 48px;
    text-align: left;
    // margin-bottom: $baseL;
  }

  .title {
    // background-color: yellow;
    margin-left: $baseS;

    p {
      max-width: 320px;
      margin-bottom: $baseM;

      font-size: 18px;
      // text-align: center;
    }

    .CTA {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      button {
        // margin: auto;
        margin-bottom: $baseS;
      }
    }

    // width: max-content;
    // margin: $baseL;
    .underText {
      margin-top: $base;
      display: flex;
      justify-content: center;

      p {
        margin-right: 6px;
        @include tertiary-font;
        font-size: 16px;

        span {
          font-weight: 700;
        }
      }
    }
  }

  picture {
    display: flex;
    justify-content: flex-end;

    img {
      height: 388px;
      margin-top: -68px;
      // margin-right: -40px;
      // margin-left: -$baseL;
      filter: drop-shadow(-1px 1px 1px rgba(80, 80, 80, 0.5));
    }
  }
}

.main {
  position: relative;

  .courses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    max-width: 999px;
    padding: 48px 0;
    gap: $baseXXL 0;



    // gap: $baseL;
    &>div {
      max-width: 320px;
      margin: auto;

      // &:nth-child(odd) {
      // background-color: red;
      // margin: $baseXL;
      // margin-top: -230px;


      // }


      h2 {
        margin: $baseS 0;
      }

      p {
        margin: $baseS 0;
        line-height: $pLineHeight;
      }
    }

    img {
      object-fit: contain;
      border-radius: $base;
      width: min-content;
      margin: auto;
    }
  }

  .teacherHeader {
    text-align: center;

    @include primary-font(34px);
    @include gradient-text();
    margin-top: $baseXXL;
    margin-bottom: $base;
  }

  .teacher {
    position: relative;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    // margin: 24px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;


    .homepageContacts {
      position: absolute;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background: white;
      padding: 0 36px;
      border-radius: 12px;
      height: 140px;

      button {
        position: absolute;
        top: $base;
        right: $baseL;
      }
    }

    .video {
      h2 {
        margin-bottom: $base;
        text-align: center;
      }

      // margin: $baseXL;
      margin: auto;
      width: max-content;

      iframe {
        width: 300px;
        border-radius: $base;
        border: 1px solid black;
      }
    }

    .introduction {
      max-width: 300px;
      height: max-content;
      margin: auto;


      p {
        line-height: $pLineHeight;
      }

      .contactsToggle,
      a {
        color: blue;
        text-decoration: underline;
      }
    }
  }

  .feedbacks {
    margin-top: $baseXXL;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // gap: $baseS 0;

    &>div {
      margin: $baseL auto;
      outline: 1px solid black
    }

    a {
      @include secondary-button();
      margin: auto;
      // width: 280px;
      // height: 206px;
      padding: $base $baseL;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        max-width: 159px;

        svg {
          margin-bottom: -4px;
        }
      }
    }
  }

  .price {
    margin: $baseXXL $baseXL;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $baseL 0;
    gap: 12px;

    &>div:first-of-type {
      display: flex;
      justify-content: center;
      gap: 6px;
      margin-bottom: $base;

      p {
        min-width: max-content;
      }
    }

    h2 {
      @include primary-font(34px);
      @include gradient-text($lightAngle: 1deg);

      margin-bottom: 0;
    }

    a {
      @include primary-button($lightAngle: 1deg);
      box-shadow: 0px 1px 1px rgba(80, 80, 80, 0.4);
      margin-left: -1px;
    }
  }
}

/* Mobile */
@media (max-width: 599px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-bottom: 0;
    margin: $baseXL auto 0 auto;

    h1 {
      width: 100%;
      font-size: 32px;
      // margin: $base $base 0 $base;
    }

    .title {
      margin: $base;

      p {
        margin-bottom: $base;
        font-size: 16px;
      }



      ul {
        margin: $baseXL auto;
        width: max-content;
        text-align: center;
      }

      .CTA {
        button {
          margin-bottom: 0;
        }
      }

      // div {
      //   display: flex;
      //   flex-direction: column;
      //   align-items: center;

      // }
    }

    picture {
      display: none;
    }
  }

  .main {
    .courses {
      display: flex;
      flex-direction: column;
      margin-top: $baseL;
      gap: 0;
      padding-bottom: 0;

      &>div {
        max-width: 300px;
        margin: $base auto 120px;

        &:nth-child(5) {
          order: 1;
        }
      }

      img {
        object-fit: cover;
        object-position: top;
        height: 200px;
        width: 100%;
        max-width: 440px;
        border-radius: 0;
        margin: auto;



        &:nth-child(2) {
          order: -1;
        }

      }

      .beach {
        object-position: bottom;
      }


    }

    .teacherHeader {
      font-size: 28px;
      margin-top: 0;
    }

    .teacher {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0;
      // margin-top: 0;


      .video {
        margin-top: 0;
        margin-bottom: $baseL;

        width: 100%;
        max-width: 440px;




        iframe {
          height: 200px;
          width: 100%;
          max-width: 440px;
          border-radius: 0;
          margin: auto;

        }
      }

      // .introduction {
      //   padding: 0 $base;
      // }
    }

    .feedbacks {
      display: flex;
      flex-direction: column;
      align-items: center;


    }

    .price {
      h2 {
        font-size: 28px;
        text-align: center;
        width: max-content;
      }

      .underText {
        max-width: 224px;
      }
    }




  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (min-width: 599px) and (max-width: 899px) {
  .header {
    margin: $baseXXL $baseL;

    .title {
      h1 {
        font-size: 38px;
      }

      p {
        font-size: 15px;
      }

      .underText {
        p {
          font-size: 15px;
        }
      }
    }


    picture {
      //   background-color: azure;
      position: relative;

      img {
        position: absolute;
        right: 0;

        height: 300px;
        margin-top: -30px;
        //     margin-right: 0px;
        //     margin-left: -78px
      }
    }
  }

  .main {
    .courses {
      &>div {
        margin: $baseXL;
      }

      img {
        width: 220px;
        height: 220px;
      }
    }

    .teacher {
      .video {
        iframe {
          width: 220px;
          height: 220px;
        }
      }
    }
  }
}

@media (min-width: 440px) {
  .main {

    .courses {
      img {
        border-radius: $base;
      }
    }

    .teacher {
      .video {
        iframe {
          border-radius: $base;
        }
      }
    }
  }
}

/* Enable hove;r only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}