@use "./index.scss" as *; // .main {

// }
.header {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  margin: $baseXXXL auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 830px;
  // margin: auto;
  // background-color: red;

  h1 {
    width: max-content;
    font-size: 48px;
    text-align: left;
    margin-bottom: $baseS;
  }

  .title {
    // background-color: yellow;
    margin-left: $baseS;
    height: min-content;
    align-self: center;

    p {
      max-width: 320px;
      margin-bottom: $baseL;

      font-size: 18px;
      // text-align: center;
    }

    .CTA {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      button,
      a {
        // margin: auto;
        margin-bottom: -3px;
      }
    }

    // width: max-content;
    // margin: $baseL;
    .underText {
      margin-top: $base;
      display: flex;
      justify-content: center;

      p {
        margin-right: 6px;
        @include tertiary-font;
        font-size: 16px;

        span {
          font-weight: 700;
        }
      }
    }
  }

  picture {
    display: flex;
    justify-content: flex-end;

    img {
      height: 388px;
      margin-top: -68px;
      // margin-right: -40px;
      // margin-left: -$baseL;
      filter: drop-shadow(-1px 1px 1px rgba(80, 80, 80, 0.5));
    }
  }
}

.main {
  position: relative;

  .darkContainer {
    background-color: $darkBackground;
  }

  .courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 999px;
    padding: $baseXXL $baseM $baseXL $baseM;
    gap: $baseM;



    // gap: $baseL;
    .course {
      max-width: 320px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      height: 100%;
      border-radius: $base;
      background-color: $darkBackground ;


      h2 {
        margin-bottom: $baseS;
        font-size: 16px;
      }

      p {
        line-height: $pLineHeight;
        font-size: 15px;
      }
    }

    .imageContainer {
      // background-color: $primaryColorLight;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      width: 100%;
      padding: 0 $baseS;
      border-radius: 24px 24px 0 0;

      img {
        width: $baseXXL;
        height: 90px;
        object-fit: contain;
        // border-radius: 50%;
        margin: auto;
      }
    }

    .bodyContainer {
      padding: 0 $base;
      min-height: 140px;
      border-radius: 0 0 24px 24px;
    }
  }



  .teacherHeader {
    text-align: center;

    @include primary-font(34px);
    // @include gradient-text();
    margin-top: $baseXXL;
    margin-bottom: $base;
  }

  .teacher {
    position: relative;
    max-width: 999px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;


    .homepageContacts {
      position: absolute;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background: white;
      padding: 0 36px;
      border-radius: 12px;
      height: 140px;

      button {
        position: absolute;
        top: $base;
        right: $baseL;
      }
    }

    .video {
      border-radius: $base;
      transition: transform 250ms;

      &:hover {
        transform: translate(1px, -1px);
      }

      h2 {
        margin-bottom: $base;
        text-align: center;
      }

      // margin: $baseXL;
      margin: auto;
      width: max-content;

      iframe {
        width: 300px;
        border-radius: $base;
        border: 1px solid black;
      }
    }

    .introduction {
      max-width: 300px;
      height: max-content;
      margin: auto;


      p {
        line-height: $pLineHeight;
      }

      .contactsToggle,
      a {
        color: blue;
        text-decoration: underline;
      }
    }
  }

  .feedbacks {
    position: relative;
    max-width: 999px;
    margin: $baseXXL auto 0;
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-around;
    gap: $baseM;
    padding: $baseXXL $baseM $baseXXL;
    background-color: $darkBackground;

    h2,
    a {
      position: absolute;
      margin: auto;
      padding-top: $baseS;
    }

    h2 {
      top: $baseXXL;
    }

    a {
      bottom: $baseXXL;
    }



    // &:nth-child(2) {
    //   outline: 1px solid red;
    // }

    &>div {
      margin: $baseL auto;
    }

    a {
      @include secondary-button();
      margin: auto;
      width: 280px;
      // height: 206px;
      padding: $base $baseL;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        max-width: 159px;

        svg {
          margin-bottom: -4px;
        }
      }
    }
  }

  .price {
    margin: $baseXXL $baseXL ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $baseL 0;
    gap: 12px;

    &>div:first-of-type {
      display: flex;
      justify-content: center;
      gap: 6px;
      margin-bottom: 42px;

      p {
        min-width: max-content;
      }
    }

    h2 {
      @include primary-font(34px);
      // @include gradient-text($lightAngle: 1deg);

      margin-bottom: -2px;
    }

    a {
      @include primary-button($lightAngle: 1deg);
      box-shadow: 0px 2px 2px rgba(80, 80, 80, 0.3);
      margin-left: -1px;
    }
  }
}

/* Mobile */
@media (max-width: 599px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-bottom: 0;
    margin: $baseXXL auto 0 auto;
    padding-top: $base;


    h1 {
      width: 100%;
      font-size: 32px;
      // margin: $base $base 0 $base;
    }

    .title {
      margin: $base;

      p {
        font-size: 16px;
      }



      ul {
        margin: $baseXL auto;
        width: max-content;
        text-align: center;
      }

      .CTA {

        button,
        a {
          margin-bottom: 0;
        }
      }

    }

    picture {
      display: none;
    }
  }

  .main {
    .courses {
      display: flex;
      flex-direction: column;
      margin-top: $baseL;
      margin-bottom: $baseXXL;
      gap: $baseM;
      padding: $baseXXL 0 $baseXL 0;

      &>div {
        max-width: 300px;
        margin: auto;
        // margin: $base auto 120px;


      }

      img {
        object-fit: cover;
        object-position: top;
        height: 200px;
        width: 100%;
        max-width: 300px;
        border-radius: $base;
        margin: auto;



        &:nth-child(2) {
          order: -1;
        }

      }

      .beach {
        object-position: bottom;
      }


    }

    .teacherHeader {
      // @include gradient-text($color2: #6d50ff);
      font-size: 28px;
      margin-top: 0;
      margin-bottom: $base;
    }

    .teacher {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0;
      // margin-top: 0;


      .video {
        margin-top: 0;
        margin-bottom: $baseL;

        width: 100%;
        max-width: 300px;




        iframe {
          height: 200px;
          width: 100%;
          max-width: 300px;
          border-radius: $base;
          margin: auto;

        }
      }


    }

    .feedbacks {

      &>div {
        &:nth-child(2) {
          outline: 10px solid green;
          display: none;
        }

        &:nth-child(3) {
          outline: 10px solid red;
          display: none;

        }
      }

    }

    .price {
      margin-top: 72px;

      h2 {
        // @include gradient-text($color2: #6d50ff);
        margin-bottom: -2px;
        font-size: 28px;
        text-align: center;
      }

      .underText {
        max-width: 224px;
      }
    }
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (min-width: 599px) and (max-width: 899px) {
  .header {
    margin: $baseXXXL $baseL;

    .title {
      h1 {
        font-size: 38px;
      }

      p {
        font-size: 15px;
      }

      .underText {
        p {
          font-size: 15px;
        }
      }
    }


    picture {
      //   background-color: azure;
      position: relative;

      img {
        position: absolute;
        right: 0;

        height: 300px;
        margin-top: -30px;
        //     margin-right: 0px;
        //     margin-left: -78px
      }
    }
  }

  .main {
    h2 {
      font-size: 16px;
    }

    p {
      font-size: 15px;
    }

    .courses {
      grid-template-columns: 1fr 1fr;

      &>div:nth-child(3) {
        grid-column: 1 / 3;
      }

      &>div {
        max-width: 180px;

        // h2 {
        //   font-size: 16px;
        // }

        // p {
        //   font-size: 15px;
        // }


        img {
          width: 180px;
          height: 180px;
        }
      }
    }

    .teacher {
      .video {
        iframe {
          width: 240px;
          // height: 220px;
        }
      }
    }

    .feedbacks {

      &>div {

        &:nth-child(3) {
          outline: 10px solid red;
          display: none;

        }
      }

    }
  }
}

@media (min-width: 440px) {
  .main {

    .courses {
      img {
        border-radius: $base;
      }
    }

    .teacher {
      .video {
        iframe {
          border-radius: $base;
        }
      }
    }
  }
}

/* Enable hove;r only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}