@use '@/styles' as *;

.container{
    display: block;
    position: relative;
    margin: auto;
        border-radius: 50%;

        background: linear-gradient($primaryColor, $secondaryColor);

        animation: spin 1500ms ease-out infinite;
        &::after{
            content: ' ';
            position: absolute;
            z-index: 1;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            background: $backgroundColor;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
      }
      
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      
      
      
      
      