@use '@/styles' as *;

.container{
    display: block;
    margin: auto;
        border-radius: 50%;
        border: 2px solid $primaryColor;
        border-top-color: $secondaryColor;
        animation: spin 1500ms ease-out infinite;
      }
      
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      
      
      
      
      