@use "@/styles" as *;

.alertContainer {
    position: fixed;
    // padding: $baseL;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ff00003d;
    background-color: $darkBackground;
    border-radius: $base;
    z-index: 2;
    width: 90vw;
    max-width: 440px;

    .alertButton {
        position: absolute;
        top: 0;
        right: $baseL;
        margin: $base 0;

    }

    h2 {
        margin-top: $baseL;
        margin-left: $baseS;
        margin-right: $baseS;
    }

    P {
        margin: $baseS ;
        margin-bottom: $base;
    }
}