@use "@/styles" as *;

.alertContainer {
    position: fixed;
    padding: $baseL;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: $base;
    z-index: 2;

    .alertButton {
        position: absolute;
        top: 0;
        right: $baseL;
        margin: $base 0;

    }

    h2 {
        margin-top: $baseL;
    }

    P {
        margin: $baseS 0;
    }
}