@use "@/styles" as *;

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @include secondary-font;
  #hide {
    display: unset;
  }
  .toggle {
    display: none;
  }
  .brand {
    padding: $base $baseL;
    @include primary-font;
  }
  .navigation,
  .hide {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    margin-right: $baseL;
    button {
      display: inline;
    }
  }
  .links,
  .buttons {
    position: relative;
    display: flex;
    align-items: center;
    gap: $base;
    padding: $base;
    list-style-type: none;
    li {
      min-width: max-content;
      a {
        text-decoration: none;
      }
    }
  }
  .links::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 0;
    bottom: 15px;
    width: 1px;
    background-color: #999999;
  }
}

@media (min-width: 600px) and (max-width: 999px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    .brand {
      padding-top: $baseS;
    }
    .navigation,
    .hide {
      margin-right: 0;
    }
  }
}

@media (max-width: 599px) {
  .container {
    align-items: start;
    .hide {
      display: none;
    }
    .toggle {
      display: block;
      position: absolute;
      top: 16px;
      right: 30px;
      padding: 5px 10px;
      svg {
        height: 28px;
        width: 28px;
      }
    }
    .navigation {
      flex-direction: column;
      position: absolute;
      z-index: 2;
      align-items: end;
      width: 160px;
      background-color: white;
      padding: $base;
      border-radius: 12px;
      top: 65px;
      right: $baseL;
      margin-right: 0;
    }
    .navigation > a {
      padding: 5px 11px;
    }
    .links,
    .buttons {
      flex-direction: column;
      align-items: flex-end;
      padding: $baseS;
    }
    .links::after {
      top: unset;
      right: 0;
      left: 0;
      bottom: 0px;
      width: 112px;
      height: 1px;
    }
  }
}
