.container {
  width: 100%;
  background: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .brand {
    padding: 20px 40px 20px 40px;
    font-size: 28px;
  }
  .navigation {
    display: flex;
    align-items: center;
    margin-right: 40px;
    button {
      display: inline;
    }
  }
  .links,
  .buttons {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    list-style-type: none;
    background-color: aqua;
    li {
      a {
        text-decoration: none;
      }
    }
  }
  .links::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 20px;
    width: 2px;
    background-color: black;
  }
}
