@use "@/styles" as *;

.container {
  background-color: $backgroundColor;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include secondary-font;
  .brand {
    padding: 20px 40px 20px 40px;
    @include primary-font;
  }
  .navigation {
    display: flex;
    align-items: center;
    margin-right: 40px;
    button {
      display: inline;
    }
  }
  .links,
  .buttons {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    list-style-type: none;
    li {
      a {
        text-decoration: none;
      }
    }
  }
  .links::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 20px;
    width: 1px;
    background-color: $fontColor;
  }
}
