@use '@/styles' as *;

.feedback,
.feedbackCard {
    position: relative;
    margin-top: $baseM;
    margin-bottom: $baseM;
    display: flex;
    background-color: $darkBackground;
    // border: 1px solid black;
    // padding: $baseS;
    // width: 280px;
    max-width: 620px;
    border-radius: $baseS;
    padding: $base;


    .credientials {
        margin: 6px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @include tertiary-font;
    }

    &>div:nth-child(1) {
        margin-right: $baseS;

        img {
            border-radius: 50%;
            background-color: red;

        }
    }

    &>div:nth-child(2) {
        &>:nth-child(2) {
            margin: $baseS 0;
            // height: 88px;
            overflow: hidden;
        }
    }

    button {
        @include secondary-button;
        position: absolute;
        padding: 6px 12px;
        z-index: 3;
        border: none;
        bottom: -5px;
        right: 0;
        // bottom: $base;
        // right: $baseS;
        background-color: #ffffff;

    }


}

.feedback {
    &>div:nth-child(1) {
        img {
            position: absolute;
            top: -$baseS;
            left: -$baseS;
        }
    }
}

.feedbackCard {
    padding: $base;
    max-width: 300px;
    z-index: 1;
    height: max-content;
    scroll-snap-align: start;
    overflow: hidden;


    .cardHeader {
        display: flex;
        // border-bottom: 1px solid #505050;
        margin-bottom: $baseS;

        &>div:nth-child(1) {
            margin-right: $base;

            img {
                border-radius: 50%;
                background-color: red;
            }
        }
    }
}

@media (min-width: 499px) {
    .feedback {
        margin: $baseM auto;

        &>div:nth-child(1) {

            img {
                position: static;
            }
        }
    }

    // .feedbackCard {}
}