@use "@/styles" as *;

.credits {
  display: flex;
  justify-content: center;
  margin: auto;
  width: max-content;
  background-color: white;
  border-radius: $baseS;
  .image {
    margin: 12px;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $baseS;
    padding-left: 0;
    margin-left: 0;
    p,
    h3 {
      margin: 6px 0;
    }
    & > p:first-of-type {
      @include tertiary-font($size: 12px);
      margin-bottom: -3px;
    }
    & > p:nth-of-type(3) {
      @include tertiary-font($size: 12px);
      margin-top: -3px;
    }
  }
}
