@use "@/styles" as *;

.container {
  p {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
  }
}

.currencyToggle {
  @include secondary-font;
}

.currencyList {
  position: absolute;
  z-index: 2;
  background-color: white;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
  width: 280px;
  padding-bottom: 10px;
  border-radius: 15px;
  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0;
    button {
      @include secondary-button;
    }
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 10px;
    width: 100%;
    padding: 10px;
    li {
      font-size: 12px;
      width: 120px;
      button {
        width: -webkit-fill-available;
        padding: 14px 0;
        border-bottom: 1px solid #dddddd;
        display: flex;
        justify-content: left;
        span {
          width: 36px;
          @include tertiary-font;
        }
      }
    }
  }
}

@media (min-width: 500px) {
  // .container {
  .currencyList {
    width: 420px;
    top: 60px;
    border-radius: 20px;
    .title {
      padding: 20px 20px 0;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      column-gap: 40px;
      width: 100%;
      padding: 20px;
      li {
        @include secondary-font;
        width: 150px;
        button {
          span {
            @include secondary-font;
            width: 42px;
          }
          padding: 20px 0;
        }
      }
    }
  }
}
// }
