@use '@/styles' as *;

.crreateNewCourseButton {
    @include primary-button;
    margin: $baseXL auto;
}

.progressContainer {
    display: flex;
    justify-content: center;

    .progress,
    .toLearn,
    .current {
        all: unset;
        position: relative;
        box-sizing: border-box;
        margin: 1px;
        width: 1vw;
        height: $base;
        background-color: $primaryColor;

        span {
            position: absolute;
            bottom: -$base;
            z-index: 2;
            width: max-content;
            background-image: linear-gradient(9deg, #ebebeb, #ffffff);
            display: none;


        }

        &:hover {
            cursor: pointer;

            span {
                display: block;
            }
        }
    }

    .toLearn {
        background-color: white;
        border: 1px solid $secondaryColor;

    }

    .current {
        position: absolute;
        z-index: 1;
        bottom: -15px;
        background-color: transparent;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 12px solid $secondaryColor;
        // transform: rotate(45deg);

    }
}

.lesson {
    h3 {
        text-align: center;
        margin: $base;
    }

    p {
        margin: $baseS auto;
        max-width: 458px;
        padding: 0 24px;
    }
}

.container {
    video {
        width: 100%;
        max-width: 600px;
        display: block;
        margin: $baseXL auto;
    }

    header {
        position: relative;
        margin: $baseXL auto;
        text-align: center;
        max-width: 599px;

        h1 {
            margin: $base;
            padding-top: $base;
        }

        .status {
            position: absolute;
            top: -$base;
            right: $base;
            border-radius: 6px;
            padding: 6px $baseS;

            background-image: linear-gradient(9deg, $secondaryColor, $secondaryColorLight);
            @include secondary_font;
            font-weight: 700;
        }
    }

    main {

        .introduction {
            max-width: 458px;
            margin: auto;
            padding: 0 24px;

            p {
                margin: $baseS 0;
            }
        }

        .course {
            position: relative;
            width: 80%;
            max-width: 380px;
            margin: $base auto;
            box-shadow: -1px 1px 2px #555555;
            border-radius: $baseS;
            padding: $base;
            padding-top: $baseL;
            background-image: linear-gradient(9deg, #ebebeb, #ffffff);

            h3 {
                padding-bottom: $baseS ;
            }

            .footer {
                padding-top: $baseS;
                @include tertiary-font
            }

            .price,
            .started,
            .completed {
                position: absolute;
                // top: 6px;
                // right: 6px;
                // border-radius: 6px;
                width: 128px;
                display: flex;
                // flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                top: 0;
                right: 0;
                border-radius: 0 6px;
                padding: 6px $baseS;
                letter-spacing: 0.6px;
                background-image: linear-gradient(9deg, rgb(255 92 92), rgb(255 189 189));
                @include secondary_font;
                font-weight: 700;
            }

            .started {
                justify-content: space-around;
                gap: 4px;
                background-image: linear-gradient(9deg, $secondaryColor, $secondaryColorLight);
            }

            .completed {
                background-image: linear-gradient(9deg, rgb(77, 200, 77), rgb(100, 255, 100));
            }

            &:hover {
                transform: translate(-1px, 1px);
                background-image: none
            }
        }
    }

    footer {
        max-width: 458px;
        margin: $baseXL auto;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .warning {
            position: absolute;
            padding: $baseL $base $base;
            border-radius: $baseS;
            top: -140px;
            background-color: #ffffff;

            button {
                background-image: none;
                @include secondary-button;
                position: absolute;
                right: 0;
                top: 0;
                display: flex
            }
        }



        a {
            background-image: none;
            @include secondary-button;
            position: absolute;
            left: $base;
            display: flex
        }

        button,
        .buttonLink {
            @include primary-button;
            display: flex;
            justify-content: space-between;
            margin: auto;
            position: relative;
        }

        .previous {
            background-image: none;
            @include secondary-button;
            display: flex;
        }

        .popup {
            background-color: rebeccapurple;
        }
    }
}

@media (min-width: 599px) {
    .progressContainer {
        display: flex;
        justify-content: center;

        .progress,
        .toLearn,
        .current {
            margin: 1px;
            width: 6px;
        }
    }

    .container {
        video {
            border-radius: $baseS;
        }

        header {
            .status {
                right: 0;
            }
        }
    }
}