@use '@/styles' as *;

.formContainer {
    display: flex;
    flex-direction: column;
    margin: $baseXL ;

    h2 {
        margin-bottom: $baseXL;
    }

    label {
        margin-bottom: $baseS;
    }

    .section {
        display: flex;
        flex-direction: column;
        margin: $base;
        padding: $base;
        border: 1px solid $primaryColor;
        border-radius: $base;
    }

    input {
        margin-bottom: $baseXL;
    }

    button {
        @include secondary-button
    }
}