@use '@/styles' as *;

.formContainer {
    display: flex;
    flex-direction: column;
    margin: $baseXL ;
    position: relative;

    h2 {
        margin-bottom: $baseXL;
    }

    label {
        margin-bottom: $baseS;
    }

    .section {
        display: flex;
        flex-direction: column;
        margin: $base 0;
        padding: $base;
        border: 1px solid $primaryColor;
        border-radius: $base;
    }

    input {
        margin-bottom: $baseXL;
    }

    button {
        @include secondary-button;
        max-width: max-content;
        margin: $baseL 0
    }

    .createCourseButton {
        @include primary-button;
        margin: $baseL auto;
    }

    .removeLesson {
        border-color: red;
        color: red;
    }
}